{% extends "baselayout.html.twig" %}

{% block title %}{{ parent() }} - Viewing circuit a {{ circuit.villeArrivee }}{%  endblock title %}


{% block circuit_etapes %}
    {% if circuit.etapes is not empty %}

		<table class="table">
			<thead>
			<tr>
				<th>Num&eacute;ro &eacute;tape</th>
				<th>Ville &eacute;tape</th>
				<th>Nombre de jours</th>
				<th><!-- Action widgets --></th>
			</tr>
			</thead>
            {%  for etape in circuit.etapes %}
				<tr>
					<td>{{ etape.numeroEtape }}</td>
					<td>{{ etape.villeEtape  }}</td>
					<td>{{ etape.nombreJours }}</td>

				</tr>
            {% endfor %} {# circuit.etapes #}
		</table>
    {% else %}
		<p>Désolé : pas encore d'étapes pour ce circuit.</p>
    {% endif %}

{% endblock %} {# circuit_etapes #}


{% block body %}
    {# templates/circuitshow.html.twig #}
    {#
      {{ dump(circuit) }}
    #}
	<h2 class="titrePage text-center">{{ circuit.description }}</h2>
	<hr>
	<br>
	<h3>Détails</h3>

	<p>Description: {{ circuit.description }}</p>

	<p>Départ de {{ circuit.villeDepart }} pour {{ circuit.dureeCircuit }} j.
		de voyage à travers le {{ circuit.paysDepart }}, pour terminer à
        {{ circuit.villeArrivee }}.</p>
	<br>

	<h3>Etapes de ce circuit</h3>

    {{ block('circuit_etapes') }}

	<h3>Programmations de ce circuit</h3>

    {% if circuit.programmations is not empty %}
        {# <pre>{{ dump(circuit) }}</pre> #}
     	<table class="table table-bordered table-striped">
     	 		<thead>
     					<tr>
     				    	<th>Date de départ</th>
     						  <th>Nombre de personnes</th>
     						  <th>Prix</th>
     					</tr>
     				</thead>
     		{%  for programmation in circuit.programmations %}
     			<tr>
     			   <td>{{ programmation.dateDepart|date('d-m-Y')  }}</td>
     			   <td>{{ programmation.nombrePersonnes }}</td>
     			   <td>{{ programmation.prix }} euros</td>
     			</tr>
     		{% endfor %}
     		</table>
    {% else %}
    <p>Désolé : pas encore de programmations pour ce circuit.</p>
    {% endif %}

{% endblock body %}